<div id="user_profile">
	<div id="profile_heading">
		<h1><%= @user.blog_title %></h1>
		<% if @user == current_user %>
			<div id="profile_edit_button">
				<span><i>Blog.</i> by <%= @user.name %></span>
				<span>|</span>
				<span><%= link_to "Update Your Profile", edit_user_path %></span>
			</div>
		<% else %>
			<h3><i>Blog.</i> by <%= @user.name %></h3>
		<% end %>
	</div>

	<div id="profile_article">
		<% @posts.reverse.each do |post| %>
			<div id="post_box_profile">
				<h3><%= post.title %></h3>
				<p><%= post.desc %></p>
				<ul>
					<li>Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</li>
					<li>|</li>
					<li>
							<% if post.comments.count > 0 %> 
								<%= post.comments.count %> comments
							<% else %>
								No comments yet
							<% end %>
					</li>
					<li>|</li>
					<li><%= link_to "Read more...", post_path(post) %></li>
				</ul>
			</div>
		<% end %>
	</div>
	
</div>
