<div id="posts_index">
	<div id="posts_index_heading">
		<h1>Explore Our Featured Posts</h1>
		<h4>Curated by the <i>Blog.</i> team</h4>
	</div>

	<div id="posts_index_article">
		<% @posts.each do |post| %>
			<div id="post_box_index">
				<h3><%= post.title %></h3>
				<h5>Posted by: <%= link_to post.user.name, user_path(post.user) %> </h5>

				<p><%= post.desc %></p>
				<ul>
					<li>Posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</li>
					<li>|</li>
					<li>
							<% if post.comments.count > 0 %> 
								<%= post.comments.count %> comments
							<% else %>
								No comments yet
							<% end %>
					</li>
					<li>|</li>
					<li><%= link_to "Read more...", post_path(post) %></li>
				</ul>
			</div>
		<% end %>
	</div>

</div>
