<div id="new-post">

	<div id="new-post_heading">
		<h1>Create a new <i>Blog.</i> post</h1>
	</div>

	<div id="new-post_article">
		<%= form_for(@post) do |f| %>
			<%= f.text_field :title, placeholder: "Post title" %>
			<%= f.text_field :desc,  placeholder: "Short description" %>
			<%= f.text_field :img_url,  placeholder: "Image url" %>
			<%= f.text_area :body, placeholder: "Write your post here" %>
			<%= f.submit value: "Publish", id: "new-post_button" %>
		<% end %>
		<%= flash[:alert] if flash[:alert] %>
	</div>

</div>


