<div id="post_show">
	<div id="post_title">
		<h1><%= @current_post.title %></h1>
		<h5>Posted by <%= link_to @current_post.user.name, user_path(@current_post.user) %> <%= distance_of_time_in_words(@current_post.created_at, Time.now) %> ago</h5>
		<% if @current_post.user_id == current_user.id %>
			<%= button_to "Delete post", post_path(@current_post), method: :delete %>
		<% end %>
	</div>

	<div id="post_body">
		<p><i><%= @current_post.desc %></i><p>
		<% if !@current_post.img_url.blank? %>
			<div id="post_img">
				<%= image_tag @current_post.img_url %>
			</div>
		<% end %>
		<p><%= @current_post.body %></p>
	</div>

	<div id="post_comments">
		<div id="post_comments_show">
		<div id="post_new_comment">
			<%= form_for [@current_post, @comment] do |f| %>
				<%= f.text_field :body, placeholder: "Write your comment" %>
				<%= f.hidden_field :post_id, value: @current_post.id %>
				<%= f.submit value: "Submit", id: "submit_comment" %>
			<% end %>
			<%= flash[:alert] if flash[:alert] %>
		</div>
			<% @comments.reverse.each do |comment| %>
				<div id="post_comment_box">
					<span><%= link_to comment.user.name, user_path(comment.user) %>: </span>
					<span><%= comment.body %></span>
					<% if comment.user == current_user or comment.post.user == current_user %>
						<span id="delete_button"><%= link_to raw("<i class='fa fa-times'></i>"), post_comment_path(@current_post, comment), method: :delete %></span>
						<div id="clear"></div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

</div>
